
<section class="wrapper-login">
	<h2>ACESSE SUA CONTA</h2>

        <form class="form-cadastro round" id="formLoginUsuario" action="<?php echo URL_PORTAL?>usuario/processalogin/" method="post">
        	   <p>
        	   	<?php echo $somatorio;?>
        	   </p>
              <label>Login<br /> <input name="email" id="email" type="text" class="validate[required,custom[email]] input-form round"  /></label>
              <label>Senha<br /> <input type="password" name="senha" id="senha" class="validate[required] input-form round"  /></label>

              <label> <input type="submit" value="ENTRAR" class="bt-enviar round " /></label>
              <br />
          </form>

          <br />
                                                      <!-- controller/usuario/metodo_da_classe    -->
          <!-- <form id="formCadastro" action="<?php //echo URL_PORTAL?>controller/usuario/cadastrar/" method="post"> -->
          <form id="formCadastro" method="post" action="<?php echo URL_PORTAL?>usuario/cadastrar/" >

              <label>Nome<br /> <input name="nome" id="nome" type="text" class="validate[required,custom[nome]] input-form round"  /></label>
               <label>Email<br /> <input name="email" id="email" type="text" class="validate[required,custom[email]] input-form round"  /></label>
              <label>Login<br /> <input name="login" id="login" type="text" class="validate[required,custom[login]] input-form round"  /></label>
              <label>Senha<br /> <input type="password" name="senha" id="senha" class="validate[required] input-form round"  /></label>

              <label><input type="submit" value="cadastrar"></label>

          </form>

          <br/>

          <form id="formCadastro" action="<?php echo URL_PORTAL?>usuario/listar/" method="post">
            <label><input type="submit" value="listagem usuario"></label>
          </form>

          <br />
          <form id="formCadastro" action="<?php echo URL_PORTAL?>usuario/pesquisar/" method="post">
            <label>Email<br /> <input name="email" id="email" type="text" class="validate[required,custom[email]] input-form round"  /></label>
            <label><input type="submit" value="pesquisar"></label>
          </form>
</section>
