<form class="form-cadastro round" id="formLoginUsuario" action="<?php echo URL_PORTAL?>usuario/cadastrar/" method="post">
        	   <p>
        	   	<?php echo $somatorio;?>
        	   </p>
              <label>Login<br /> <input name="email" id="email" type="text" class="validate[required,custom[email]] input-form round"  /></label>
              <label>Senha<br /> <input type="password" name="senha" id="senha" class="validate[required] input-form round"  /></label>

              <label> <input type="submit" value="ENTRAR" class="bt-enviar round " /></label>
              <br />
          </form>
