
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Conteiner Listagem</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <?php
                    if (count($dados_conteiner) > 0):
                        echo "aqui no foreache";
                        foreach($dados_conteiner as $dados):
                ?>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <?php
                                echo 'Id:' .$dados->id;
                            ?>
                        </div>
                        <div class="panel-body">
                            <p>
                            <?php
                                echo 'Nome: ' .utf8_encode($dados->nome);
                            ?>
                            <a href="<?php echo URL_PORTAL?>cedes/chamaAlterar/<?php echo $dados->id; ?>">editar</a>
                            </p>
                        </div>
                        <div class="panel-footer">
                            <?php
                                echo 'Profissao: '.utf8_encode($dados->email);
                            ?>
                        </div>
                        <div class="panel-footer">
                            <?php
                                echo 'Senha: '.utf8_encode($dados->senha);
                            ?>
                        </div>
                    </div>
                </div>
                <?php
                        endforeach;
                    endif;
                ?>
            </div>
